# Ignore compiled files
*.o
*.out

# Ignore log files
*.log

# Ignore build directories
MyJX11/builds/
MyJX11/bin/
*.pbxproj
*.vcxproj
*.filters
MyJX11/Builds/MacOSX/MyJX11.xcodeproj/project.pbxproj
MyJX11/Builds/VisualStudio2022/MyJX11_SharedCode.vcxproj
MyJX11/Builds/VisualStudio2022/MyJX11_SharedCode.vcxproj.filters
MyJX11/Builds/VisualStudio2022/MyJX11_StandalonePlugin.vcxproj
MyJX11/Builds/VisualStudio2022/MyJX11_StandalonePlugin.vcxproj.filters
MyJX11/Builds/VisualStudio2022/MyJX11_VST3.vcxproj
MyJX11/Builds/VisualStudio2022/MyJX11_VST3.vcxproj.filters
MyJX11/Builds/VisualStudio2022/MyJX11_VST3ManifestHelper.vcxproj
